
.score-box{
    width: 320px;
}
.hands{
    height: 400px;
}
.num{
    text-align: center;
}
 .finger{
    width: 100px;
    height: 50px;
    margin-top: -20px; 
    border: 2px solid red;
    top: 100px;
    left: 75px;
    margin-left: 80px;
    transform: perspective(80px) rotateX(45deg);
    position: relative;
    border-width: 20px 40px;
    border-width: 20px 40px;
    border-radius: 60px/35px;
 }

 .finger:first-child{
    width: 35px;
    height: 70px;
    margin-left:0;
    transform: perspective(30px) rotateX(-20deg) rotateY(38deg) rotateZ(-7deg);
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    position: relative;
    left: 95px;
    top: 114px;
    border-width: 3px;
    border-bottom: 0;
    z-index: 500;

}
.finger:nth-child(2){
    border-left: none;
    z-index: 400;
    border-top-width: 2px;
    width: 90px;

}
.finger:nth-child(3){
    border-top: none;
    border-left: none;
    z-index: 300;
    width: 100px;

}
.finger:nth-child(4){
    border-top: none;
    border-left: none;
    z-index: 200;
    width: 80px;

}
.finger:nth-child(5){
    border-top: none;
    border-left: none;
    z-index: 100;
    width: 50px;

}

.f{
    width: 200px;
    height: 200px;
    border-radius: 150px/100px;
    position: absolute;
    left: 40px;
    top: 155px;
    border-left: 10px solid red;
    transform:rotateX(24deg);

}